<div align="center" style=" font-size: 80%; text-align: center; margin: 0 auto">
<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/Python-Notebook-Banners/Exercise.png"  style="display: block; margin-left: auto; margin-right: auto;";/>
</div>

# Exercise: Introduction to Pandas 


In this exercise, we test our understanding of basic Pandas functions.

## Learning objectives

By the end of this train, you should be able to:
* Create and display the data stored in a DataFrame.

## Exercises

### Import libraries

In [1]:
import pandas as pd
import numpy as np

### Exercise 1

Create a Pandas DataFrame from a dictionary. The dictionary keys should be `Crop`, `Yield_per_Acre`, and `Country`, and the values should be lists, as shown in the data below:

- Crop: `['Wheat', 'Corn', 'Rice', 'Soybean']`
- Yields per Acre (in tons): `[3, 4.5, 5, 2.8]`
- Country: `['USA', 'China', 'India', 'Brazil']`

In [4]:
# Your solution here...

crop_dict = {'Crop': ['Wheat', 'Corn', 'Rice', 'Soybean'],
			 'Yeild_per_acre': [3, 4.5, 5, 2.8],
			 'Country': ['USA', 'China', 'India', 'Brazil']}
crop_data = pd.DataFrame(crop_dict)

print(crop_data)

      Crop  Yeild_per_acre Country
0    Wheat             3.0     USA
1     Corn             4.5   China
2     Rice             5.0   India
3  Soybean             2.8  Brazil

### Exercise 2

Using the DataFrame we created in **Exercise 1**, return only observations for index values 1 and 2 from the dataset.

In [5]:
# Your solution here...

crop_data.iloc[1:3]

   Crop  Yeild_per_acre Country
1  Corn             4.5   China
2  Rice             5.0   India

### Exercise 3

- Using the NumPy library, create a 3x2 array named `tree_array` to store information for different tree species as follows: 

`[[30, 25], [60, 30], [25, 20]]`

- Use the array to create a DataFrame with the following columns: `Max_Height_m`, and `Growth_Rate_cm_per_year`, and the following index: `Maple`, `Pine` and `Birch`.

In [6]:
# Your solution here...

tree_array = np.array([[30,25],[60,30], [25,20]])

columns = ['Max_Height_m', 'Growth_Rate_cm_per_year']

index = ['Maple', 'Pine', 'Birch']

tree_data = pd.DataFrame(tree_array, columns=columns, index=index)       

print(tree_data)

       Max_Height_m  Growth_Rate_cm_per_year
Maple            30                       25
Pine             60                       30
Birch            25                       20

### Exercise 4

Using the DataFrame we created in **Exercise 3**, display the `Max_Height_m` and `Growth_Rate_cm_per_year` columns for the `Pine` tree.

In [9]:
# Your solution here...

tree_data.loc['Pine', columns]

Max_Height_m               60
Growth_Rate_cm_per_year    30
Name: Pine, dtype: int64

### Exercise 5

- We have a dataset named `Animals.csv` that stores information about a variety of animal species. Use Pandas to load the CSV file into a DataFrame called `animals_df`. 

- Display the first 5 rows of the DataFrame.

**NB:** Use this link to access the dataset: https://raw.githubusercontent.com/Explore-AI/Public-Data/master/Data/Python/Animals.csv

In [14]:
# Your solution here...

animals_df = pd.read_csv('https://raw.githubusercontent.com/Explore-AI/Public-Data/master/Data/Python/Animals.csv')

df = pd.DataFrame(animals_df)

df.head()

,Species,Average Lifespan (Years),Habitat,Conservation Status
0,African Elephant,60,Grasslands,Vulnerable
1,Bengal Tiger,15,Forests,Endangered
2,Blue Whale,80,Ocean,Endangered
3,Giant Panda,20,Temperate Forest,Vulnerable
4,Komodo Dragon,30,Islands,Vulnerable

### Exercise 6

Using the DataFrame we have created in **Exercise 5**, access and display information on animals that are listed as `Critically Endangered` in the `Conservation Status` column.

In [20]:
# Your solution here...

critically_endagered_df = df[df['Conservation Status'] == 'Critically Endangered']

critically_endagered_df

     Species  Average Lifespan (Years)      Habitat    Conservation Status
9  Orangutan                        35  Rainforests  Critically Endangered

<div align="center" style=" font-size: 80%; text-align: center; margin: 0 auto">
<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/refs/heads/master/ALX_banners/ALX_Navy.png"  style="width:140px";/>
</div>